body{
    margin: 0px 150px;
    padding: 0;
    background-color: #1F2937;
    color: aliceblue;
}

/* Navigation */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2a3749;
    padding: 10px 25px;
    border-radius: 10px;
    flex-wrap: wrap;
}

.logo h1{
    margin: 0;
    padding: 0;
    font-size: 30px;
}

.links a{
    text-decoration: none;
    color: aliceblue;
    font-size: 18px;
}

.links a:hover{
    /* background-color: #5e6e85; */
    color: aquamarine;
}

.links{
    display: flex;
    gap: 25px;
}


/*------ Index Page ------*/

/* Main div */
.main{
    display: flex;
    height: 420px;
    padding: 0px 65px;
    justify-content: space-between;
    align-items: center;
}

.left{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 15px;
}

.left h1{
    font-size: 48px;
    margin: 0;
    /* margin-bottom: 10px; */
}

.left p{
    font-size: 18px;
}

button{
    width: 75px;
    height: 28px;
    border-radius: 8px;
    border: 1px solid rgb(202, 129, 129);
    background-color: rgb(214, 174, 174);
    color: rgb(51, 51, 51);
    font-weight: bold;
}

button:hover{
    background-color: rgb(207, 123, 123);
    color: rgb(211, 211, 211);
}

.right{
    display: flex;
    padding: 15px 0px;
    padding-right: 25px;
}

.right img{
    height: 288px;
}

/* Gallery div */

.gallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 420px;
    padding: 0px 45px;
    background-color: antiquewhite;
}

.title h1{
    font-size: 35px;
    text-align: center;
    color: #1F2937;
}

.mediacont{
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.media{
    width: 190px;
}

.mediacont img{
    width: 190px;
    height: 132px;
    border-radius: 5px;
}

.mediacont p{
    display: flex;
    flex-wrap: wrap;
    color: #2a3749;
    text-align: center;
}

/* Quote div */

.quotecont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 320px;
    padding: 0px 45px;
    background-color: rgb(175, 175, 136);
}

.quote{
    display: flex;
    flex-direction: column;
    width: 620px;
}

.quote h1{
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
}

.quote p{
    display: flex;
    align-self: flex-end;
    padding-right: 38px;
    font-weight: bold;
}

/* Sign up div */

.signup_cont{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

.signup_media{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(99, 99, 235);
    margin: 80px 0px;
    padding: 0px 75px;
    border-radius: 12px;
    gap: 75px;
}

.signup_text{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 3px;
    padding: 15px 0px;
}

.signup_text h3, p{
    margin: 0;
}

.signup_button{
    color: aliceblue;
    background-color: rgb(219, 128, 128);
    border: 1px solid rgb(219, 216, 216);
}

.signup_button:hover{
    background-color: rgb(207, 123, 123);
    color: rgb(83, 82, 82);
}

/* Footer div */

.footer{
    height: 70px;
    /* background-color: #2a3749; */
    display: flex;
    justify-content: center;
    align-items: center;
}


/*------ News Page ------*/

/* News Title */
.news_title{
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 30px 0px;
    justify-content: flex-start;
    align-items: center;
}

.news_title h1{
    font-size: 45px;
}

.news_title p{
    font-size: 23px;
}

/* News Content */
.news_content{
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 0px 190px;
    padding: 35px 15px;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    color: #1F2937;
    border-radius: 10px;
}

.news_content p{
    font-size: 19px;
    padding: 15px;
    text-align: center;
}


/*------ Videos Page ------*/

/* Videos Title */
.videos_title{
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 30px 0px;
    justify-content: flex-start;
    align-items: center;
}

.videos_title h1{
    font-size: 45px;
}

.videos_title p{
    font-size: 23px;
}

/* Videos Gallery */

.videos_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 380px;
    padding: 0px 45px;
    background-color: antiquewhite;
}

.videos_container{
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.videos{
    width: 265px;
}

.videos_media{
    width: 265px;
    height: 170px;
}


/*------ Contacts Page ------*/

.contact_title{
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 30px 0px;
    justify-content: flex-start;
    align-items: center;
}

.contact_title h1{
    font-size: 45px;
}

.contact_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.contact_content p{
    text-align: center;
    font-size: 18px;
}


/*------ Sign up Page ------*/

.signup_section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
}

.signup_content{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    width: 780px;
    height: 390px;
    border-radius: 10px;
}

.signup_media2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(99, 99, 235);
    margin: 80px 0px;
    padding: 48px 75px;
    border-radius: 12px;
    gap: 75px;
}

.signup_text2{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 3px;
    padding: 15px 0px;
}

.signup_text2 h3, p{
    margin: 0;
}

.signup_button2{
    color: aliceblue;
    background-color: rgb(219, 128, 128);
    border: 1px solid rgb(219, 216, 216);
    height: 53px;
    width: 100px;
}

.signup_button2:hover{
    background-color: rgb(207, 123, 123);
    color: rgb(83, 82, 82);
}